[features]
seeds = false
skip-lint = false

[programs.localnet]
alpenguard = "ALPG11111111111111111111111111111111111111"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "Localnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "cargo test"
